<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>if文の練習の答え合わせ</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<header></header><!--ここは今回は使わないよ-->

	<main>
		<h3>1から自分が入力した数字が1ずつ表示されていたら正解！！</h3>
		<div style="border: 1px solid black;font-weight: bold;">
			<tr th:each="for_answer : ${for_training}">
				<th></th>
				<td th:text="*{for_answer}"></td>
			</tr>
		</div>

		<button onclick="location.href='index'">
			<p>問題一覧に戻る</p>
		</button>
	</main>

	<footer></footer><!--ここは今回は使わないよ-->
</body>

</html>