<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>if文の応用の答え合わせ</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
	<header></header>

	<main>
		<h3>問題.</h3>
		<p>ForAppliedContrller.javaファイルの「blank」を書き換えてね！</p>
		<p>「答え合わせ」を押して、キャラクターの一覧が表示されていれば正解！！</p>

		<div>
			<button onclick="location.href='for_applied_answer'">
				<p>答え合わせ</p>
			</button>
		</div>

		<button onclick="location.href='index'">
			<p>問題一覧に戻る</p>
		</button>
	</main>

	<footer></footer>
</body>

</html>