<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>勇者の物語</title>
	<link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>	
	<header></header><!--ここは今回は使わないよ-->
	<main>
		<div>
			<p>練習問題</p>
			<button onclick="location.href='if_study'">
				<p>if文の練習問題</p>
			</button>
			<button onclick="location.href='for_study'">
				<p>for文の練習問題</p>
			</button>
		</div>

		<div>
			<p>応用問題</p>
			<button onclick="location.href='if_applied'">
				<p>if文の応用問題</p>
			</button>
			<button onclick="location.href='for_applied'">
				<p>for文の応用問題</p>
			</button>
		</div>

		<div>
			<p>CRUD処理</p>
			<button onclick="location.href='register_study'">
				<p>登録処理の練習問題</p>
			</button>
			<button onclick="location.href='update_study'">
				<p>更新処理の練習問題</p>
			</button>
			<button onclick="location.href='delete_study'">
				<p>削除処理の練習問題</p>
			</button>
		</div>
	</main>
	
	<footer></footer><!--ここは今回は使わないよ-->
</body>

</html>